body {
    background-color:#FAF9F9;
    word-wrap: break-word;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;


}

h2{
    text-align: center;
}


.card {
    width:300px;
    background-color: lightgray;
    margin: 10px;
    padding:1px
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    border: 1px solid #a8a7a7
}

img {
    display: block;
    max-width: 250px;
    margin: auto;

}

.description {
    text-align: justify;
    width: 295px;
}

.avail {
    background-color: white;
    text-align: left;

}

.sizeweight {
    font-size: 13px;
    padding: 10px;
    font-weight: bold;
    margin: 0px;
}

