body {
    background: #FAF9F9 url("images/background.png") repeat; 
    background-attachment: fixed;
    word-wrap: break-word;
    font-family: 'Montserrat', sans-serif;
   
}

* {
    margin: 0;
    padding: 0;
    }
.name{
    background-color: #f7f8ac;
    margin: 0px;
    padding-bottom: 5px;
    padding-left:15px;
    color: #ffffff;
    -webkit-text-stroke: .25px black;
    font-family: 'Rouge Script', cursive;
    font-size: 30px;

}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin: 0 auto;


}

p {
    padding: 2px;
    margin:0px;
}

h2{
    text-align: center;
    color:#f7f8ac;
    -webkit-text-stroke: .25px black;
    font-family: 'Montserrat', sans-serif;

}


.card {
    width:250px;
    background-color: WHITE;
    margin: 10px;
    padding:1px;
    box-shadow: 2px 2px 1px .4px  #f7f8ac;
    border: 1px solid #a8a7a7;
    border-radius: 5px;
}

img {
    display: block;
    max-width: 180px;
    margin: auto;

}


img.logo{
    width: 50px;
    display: inline;
}

.description {
    text-align: justify;
    width: 245px;
    margin-bottom: 20px;
    font-size: 13.25px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.avail {
    background-color:#f7f8ac;
    text-align: left;
    color:#000;


}

.sizeweight {
    font-size: 11px;
    padding: 0px;
    padding-left: 15px;
    font-weight: bold;
    margin: 0px;
}

.specifications{
    padding:5px;
    padding-left:0px;
    font-size: 10px;
}

.title{
    padding-left: 5px;
}
.blank {
    height: 10px;
}

.sold {
    position: relative;
    top: 0;
    left: 0;
  }
  .image1 {
    position: relative;
    top: 0;
    left: 0;
  }
  .image2 {
    position: absolute;
    top: 45px;
    left: 45px;
  }

.footer{
    background-color: #f7f8ac;
    margin: 0px;
    padding-bottom: 5px;
    padding-left:15px;
    color: #000;
    text-align: center;
}

  
@media (min-width: 609px) and (max-width: 1024px) {
  /*Tablet*/
        .container {
            display: flex;
            flex-wrap: wrap;
            width:600px;
            margin: 0 auto;

    }

    .logo {
        width: 30px;
    }

    .name{
        text-align: center;
    }

  }
  @media (min-width: 320px) and (max-width: 608px) {
    /*Tablet*/
          .container {
              display: flex;
              flex-wrap: wrap;
              flex-direction: column;
              width:275px;
              margin: 0 auto;
  
      }

      .logo{
          width:20px;
      }
      .name{
        text-align: center;
    }

    }